#div_id_propertyReference {
  margin: 5px;
}
#div_id_seizedDate {
  margin: 5px;
}
#div_id_seizedTime {
  margin: 5px;
}
#div_id_description {
  margin: 5px;
}
#div_id_notes {
  margin: 5px;
}
#save_button {
  margin: 10px;
}
